.App {
  text-align: center;

  
}
  .card {
  margin-top: 2%;
  border: 1px solid gray;
  width: 350px;
  height: auto;
  box-shadow: 20px 20px lightgrey;
  color: darkblue;
  }

  .card:hover {
    color: white;
    background-image: url('https://images-na.ssl-images-amazon.com/images/I/71RqpsOVBML._SX425_.jpg')
  }